*{
    margin: 0px;
    padding: 0px;
}

.PoloBook {
    margin-left: 5px;
}

.head {
    background-color: rgb(100, 100, 245);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    text-align: center;
    font-size: 30px;
    width: 205vh;
    display: flex;
    flex-direction: row;
    color: #738c00;
}

.sign-in{
    border: none;
    cursor: pointer;
    margin-left: 130vh;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
    border-width: 4px;
    border-color: black;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 100%;
    background-color: white;
}

.log-in {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    border-width: 4px;
    border-color: black;
    background-color: white;
}

.container {
    background-color: rgba(240, 234, 234, 0.747);
    width: 205vh;
    height: 40vw;
    display:grid;
    grid-template-columns:50% 50%;
    align-items: center; 
    text-align: center;
}

img {
   border-radius: 100px;
}

label {
    padding-top: 20px;
    margin-top: 20px;
    color:black;
    font-size: 30px;
    align-items: center;
}

input {
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    font-size: 20px;
}

.login1 {
    border: none;
    cursor: pointer;
   font-size: 12px;
   border-radius: 50px;
   background-color:rgb(100, 100, 245);
   margin: 10px;
   padding: 20px 25px 20px 25px;
   font-size: 25px;
   font-weight: bold;
}

.footer {
   text-align: center;
   font-style: italic;
   color: rgba(255, 217, 0, 0.384);
   background-color:rgb(100, 100, 245);
   font-size: 20px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   width: 205vh;
   height: 40px;
}

/*/start from firstpage style.css*/
.Top {
    background-color: rgb(100, 100, 245);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 205vh;
    height: 85px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
}

.fa-wordpress {
    margin-left: 10px;
    background-color: white;
    color: blue;
    border: none;
    border-radius: 100%;
    font-family: monospace;
    font-weight: bolder;
    font-size: 10vh;
    align-items: center;
}

.rtp {
    align-items: center;
}

.lftop {
    display: flex;
    flex-direction: row;
}

input {
    margin: 15px 10px 10px 20px;
    align-items: center;
    border: none;
    width: 600px;
    height: 35px;
    border-radius: 30px;
}

.right-headding {
    margin-left: 65vh;
    display: flex;
    flex-direction: row;   
}

.name {
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px 10px 10px 10px;
    background-color: white;
    color:blue;
    font-weight: bolder;
    font-size: 23px;
    font-family: monospace;
}

.icons {
    padding: 10px 10px 10px 10px;
    background-color: white;
    margin-left: 40px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 22px;
    align-items: center;
    color: green;
}

.Middle {
    display: grid;
    grid-template-columns:30% 60%;
}

.Middleft {
    background-color:  rgba(240, 234, 234, 0.747);
    border-bottom-left-radius: 20px;
}

.space {
    border: 1px solid black;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin: 25px 10px 10px 40px;
}

.P1,.P2, .P3, .P4{
    margin: 35px 0 30px 100px;
    background-color: rgb(100, 100, 245);
    border-radius: 12px;
    width: 150px;
    font-size: 30px;
}

.Middright {
    display: grid;
    grid-template-columns:70% 30% ;
}

.midlt {
    background-color: skyblue;
}

.section {
    align-items: center;
    color: darkblue;
    border: 1px solid skyblue ;
    height: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.space1,.space2 {
    border: 1.5px solid black;
    border-radius: 10px;
    height: 240px;
    width: 70vh;
    margin-left: 70px;
    margin-top: 20px;
}
.space3 {
    border: 1.5px solid black;
    border-radius: 10px;
    height: 65px;
    width: 70vh;
    margin-left: 70px;
    margin-top: 20px
}

.Salist {
    list-style: none;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    font-family: sans-serif;

}
.mhead {
   background-color: blue;
   color: white;
   font-size: 40px;
   font-weight: bolder;
   font-style: Monospace;
   align-items: center; 
}

.setting-list {
    padding: 10px;
}